<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Created by James Donald Patrizi on 11/18/17 10:55 AM
  ~ Copyright (c) 2017. All rights reserved.
  ~ This application is distributed under the terms of the GNU General Public License
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~
  ~ Last modified: 11/18/17 10:55 AM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jimpatrizi.com.netrtl">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rtl_sdr_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rtl_sdr_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SettingsPrefActivity" >
            <!--Default Intent Filter-->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>